/*  Evaluations
    ------------

- Respect des consignes
- La syntaxe est correcte
- L'indentation est correcte
*/

/* Squelette du CSS fourni par le coach */

/* MOBILE */
body{
    background-color: #0f0e17;
    color:#fffffe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

    box-sizing: border-box; 
    text-align: center;
    margin: 0; /* pour enlever les marges de 8px du body*/
    /* insère ton style ici */    
}

/* HEADER */
header .container{
  max-width: 100%; 
  border: 1px solid red; 
}
header .container img{
    max-width: 100px;
  /* insère ton style ici */
}
nav{
   
    border: 1px solid rgb(255, 111, 0);
    /* insère ton style ici */
    
}
nav ul {
  /* insère ton style ici */
  /* reset des marges */
    margin: 0 auto;
    padding-top: 20px;
    border: 2px solid yellowgreen;
}
nav li {
  /* insère ton style ici */
    display: block;
    padding: 0 17px;
    text-transform: uppercase;
    /* background-color: royalblue; Permet de voir les 4px entre les deux li et cela peut être corrigé en ajoutant des commentaires aux li en HTML*/ 
    border:3px solid #e53170; 
}
nav li a {
  /* insère ton style ici */
    text-decoration: none;
    color:#fffffe;
    font-weight: 600;
}

/* MAIN : Corps de la page */
section{
    background-color: #fffffe;
    max-width: 790px;
    margin: 0 auto; /* pour CENTRER un élément bloc */
    /* insère ton style ici */
    border-radius: 5px;
}
h2{
    color: #ff8906;
    text-transform: uppercase;
    /* insère ton style ici */
    padding-top: 20px;
    padding-left: 20px;
}
p{
  /* insère ton style ici */
  color: #0f0e17;
  font-size: 0.98em;
  padding: 0 10px 20px 10px;
}

/* FOOTER */
footer{
    background-color: #e53170;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* insère ton style ici */
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: 600;
}

/* TABLETTE */

  @media only screen and (min-width: 768px){
  nav{
    max-width: 790px;
    margin: 0 auto;
    border: 1px solid rgb(255, 111, 0);
    /* insère ton style ici */
    
}
  nav li {
    display: inline-block;
    padding: 0 17px;
    text-transform: uppercase;
    /* background-color: royalblue; Permet de voir les 4px entre les deux li et cela peut être corrigé en ajoutant des commentaires aux li en HTML*/ 
    border:3px solid #e53170; 
}
}

/* 
